body {
  margin: 0;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  background-color: #f7f9fc;
  color: #0f2d4b;
}

html,body {
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
}

.scrollable-modal .ant-modal-body {
  max-height: calc(-300px + 100vh);
  padding: 0px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: #eaeaea transparent;
  scrollbar-gutter: stable;
}
