name: Deploy Lawyer App to Alibaba Cloud ECS

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  APP_NAME: "lawyer-app"
  APP_DIR: "/home/apps/lawyer-app"
  BACKUP_ROOT: "/home/backups"
  TMP_DIR: "/home/tmp"
  NGINX_CONF_DIR: /etc/nginx
  ECS_HOST: ${{ secrets.ECS_HOST }}
  ECS_USERNAME: ${{ secrets.ECS_USERNAME }}

jobs:
  # 构建打包
  build-and-images:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup pnpm
      uses: pnpm/action-setup@v2
      with:
        version: 9
        run_install: false
        
    - name: Setup Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'

    - name: Get pnpm store path
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_OUTPUT
        
    - name: Setup pnpm cache
      uses: actions/cache@v3
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-

    - name: Install dependencies
      run: pnpm install --prod --frozen-lockfile --ignore-scripts
      
    - name: Build projects
      run: pnpm build
  